.result-item {
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: rgb(102, 102, 100);
}

#modal-results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 25px;
    width: 450px;
    height: 220px;
    background-color: orange;
    display: none;
}

.results-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.results-name {
    padding: 5px;
}

.modal-submit-btn, .modal-cancel-btn {
    margin-top: 20px;
    font-weight: bold;
    background-color: rgb(211, 209, 207);
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.modal-submit-btn {
    margin-right: 10px;
}

.modal-cancel-btn {
    margin-left: 10px;
}

.results-board-heading {
    font-size: 25px;
    margin: 15px;
}

.show-results-note {
    margin: 25px;
    min-width: 300px;
    background-color: tomato;
}

.show-result-name {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid black;
    border-image: linear-gradient(to right, transparent, #090a0a, transparent) 1;
    cursor: pointer;
}

.show-result-name p i {
    margin-left: 10px;
    transition: transform 0.3s linear;
}

.show-result-name.active  p i {
    transform: rotate(180deg);
}

.show-result-body {
    max-height: 0;
    overflow: hidden;
    border-bottom-left-radius: 5px;  
    border-bottom-right-radius: 5px;
    background-color: rgb(240, 232, 232);
    transition: max-height 0.3s linear;  
}

li {
    list-style-type: none;
}